<p>home works!</p>
<button (click)="_keycloakInstance.accountManagement()">Editar conta</button>
<button (click)="_keycloakInstance.logout({ redirectUri: 'http://localhost:4200/' })">Logout</button>
<button (click)="doAuthRequest()">Auth Request (backend needed)</button>